@charset "UTF-8";

* {
     font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right,#AC80FF,#C8AAFF );

}
main {
    width: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #533e7a8f;
    padding: 10px;
    margin: auto;
}
h1{
    color: #340094;
    text-align: center;
    text-shadow: 1px 1px 0px #4000b76e;
}
h2
{ 
    color: #301269;
}
p {
    text-align: justify;
}
